{% extends "base.html" %}

{% block title %}Log in{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
{% endblock %}

{% block content %}
<div class="user-container">
    <h1>Sign in</h1>
    <form method="#" action="#" class="space-y-4">
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="Please input your username" class="border p-2 w-full" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Please input your password" class="border p-2 w-full" required>
        </div>
        <button type="submit" class="bg-blue-500 text-white p-2 rounded">Sign In</button>
    </form>
</div>


{% endblock %}
